@font-face {
    font-family: Springsteel-Light;
    src: url("Springsteel-Light.woff") format("woff"), url("Springsteel-Light.ttf")  format("truetype");
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: "Springsteel-Light", "serif", "Times New Roman";
}

header {
  min-height: 90vh;
  max-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

header img {
  max-height: 90vh;
  margin: 0 auto;
}

section {
  padding-top: 40px;
}

.vcenter {
   vertical-align: middle;
   float: none;
}
