@font-face {
    font-family: Springsteel-Light;
    src: url("Springsteel-Light.woff") format("woff"), url("Springsteel-Light.ttf")  format("truetype");
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: "Springsteel-Light", "serif", "Times New Roman";
}

.navbar li {
  font-size: 18px;
}

.navbar-header .navbar-brand {
  font-size: 20px;
  color: #ffffff;
}

header {
  min-height: 90vh;
  max-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

header img {
  max-height: 60vh;
  margin: 0 auto;
}

section {
  padding-top: 40px;
}


.vcenter {
   vertical-align: middle;
   float: none;
}

p {
  line-height: 30px;
  font-size: 20px;
}

.container {
  max-width: 850px;
}
